# Data Preprocessing:

### 1. Importing the libraries:

In [ ]:
# pip install imbalanced-learn

In [2]:
import pandas as pd
import numpy as np
import os
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split

### 2. Load the Data:

In [3]:
churndata = pd.read_csv('./telecom-customer-churn-by-maven-analytics/telecom_customer_churn.csv')
churndata.head().T

,0,1,2,3,4
Customer ID,0002-ORFBO,0003-MKNFE,0004-TLHLJ,0011-IGKFF,0013-EXCHZ
Gender,Female,Male,Male,Male,Female
Age,37,46,50,78,75
Married,Yes,No,No,Yes,Yes
Number of Dependents,0,0,0,0,0
City,Frazier Park,Glendale,Costa Mesa,Martinez,Camarillo
Zip Code,93225,91206,92627,94553,93010
Latitude,34.827662,34.162515,33.645672,38.014457,34.227846
Longitude,-118.999073,-118.203869,-117.922613,-122.115432,-119.079903
Number of Referrals,2,0,0,1,3
Tenure in Months,9,9,4,13,3
Offer,None,None,Offer E,Offer D,None
Phone Service,Yes,Yes,Yes,Yes,Yes
Avg Monthly Long Distance Charges,42.39,10.69,33.65,27.82,7.38
Multiple Lines,No,Yes,No,No,No
Internet Service,Yes,Yes,Yes,Yes,Yes
Internet Type,Cable,Cable,Fiber Optic,Fiber Optic,Fiber Optic
Avg Monthly GB Download,16.0,10.0,30.0,4.0,11.0
Online Security,No,No,No,No,No
Online Backup,Yes,No,No,Yes,No
Device Protection Plan,No,No,Yes,Yes,No
Premium Tech Support,Yes,No,No,No,Yes
Streaming TV,Yes,No,No,Yes,Yes
Streaming Movies,No,Yes,No,Yes,No
Streaming Music,No,Yes,No,No,No
Unlimited Data,Yes,No,Yes,Yes,Yes
Contract,One Year,Month-to-Month,Month-to-Month,Month-to-Month,Month-to-Month
Paperless Billing,Yes,No,Yes,Yes,Yes
Payment Method,Credit Card,Credit Card,Bank Withdrawal,Bank Withdrawal,Credit Card
Monthly Charge,65.6,-4.0,73.9,98.0,83.9
Total Charges,593.3,542.4,280.85,1237.85,267.4
Total Refunds,0.0,38.33,0.0,0.0,0.0
Total Extra Data Charges,0,10,0,0,0
Total Long Distance Charges,381.51,96.21,134.6,361.66,22.14
Total Revenue,974.81,610.28,415.45,1599.51,289.54
Customer Status,Stayed,Stayed,Churned,Churned,Churned
Churn Category,NaN,NaN,Competitor,Dissatisfaction,Dissatisfaction
Churn Reason,NaN,NaN,Competitor had better devices,Product dissatisfaction,Network reliability

The Column "Customer Status" is our response variable of interest in this analysis. The reasons for Churn has its records in the "Churn Category" and "Churn Reason" columns.

In [4]:
churndata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Married                            7043 non-null   object
 4   Number of Dependents               7043 non-null   int64
 5   City                               7043 non-null   object
 6   Zip Code                           7043 non-null   int64
 7   Latitude                           7043 non-null   float64
 8   Longitude                          7043 non-null   float64
 9   Number of Referrals                7043 non-null   int64
 10  Tenure in Months                   7043 non-null   int64
 11  Offer                              7043 non-null   object
 12  Phone Service                      7043 non-null   object
 13  Avg Monthly Long Distance Charges  6361 non-null   float64
 14  Multiple Lines                     6361 non-null   object
 15  Internet Service                   7043 non-null   object
 16  Internet Type                      5517 non-null   object
 17  Avg Monthly GB Download            5517 non-null   float64
 18  Online Security                    5517 non-null   object
 19  Online Backup                      5517 non-null   object
 20  Device Protection Plan             5517 non-null   object
 21  Premium Tech Support               5517 non-null   object
 22  Streaming TV                       5517 non-null   object
 23  Streaming Movies                   5517 non-null   object
 24  Streaming Music                    5517 non-null   object
 25  Unlimited Data                     5517 non-null   object
 26  Contract                           7043 non-null   object
 27  Paperless Billing                  7043 non-null   object
 28  Payment Method                     7043 non-null   object
 29  Monthly Charge                     7043 non-null   float64
 30  Total Charges                      7043 non-null   float64
 31  Total Refunds                      7043 non-null   float64
 32  Total Extra Data Charges           7043 non-null   int64
 33  Total Long Distance Charges        7043 non-null   float64
 34  Total Revenue                      7043 non-null   float64
 35  Customer Status                    7043 non-null   object
 36  Churn Category                     1869 non-null   object
 37  Churn Reason                       1869 non-null   object
dtypes: float64(9), int64(6), object(23)
memory usage: 2.0+ MB

#### 3. Preprocessing Data:

#### 3.1 Dealing with Missing Data:

In [5]:
missing1 = pd.concat([churndata.isnull().sum(), 100 * churndata.isnull().mean()], axis=1)
missing1.columns=['count', '%']
missing2 = churndata.isnull().any()
pd.concat([missing2, missing1], axis=1)

                                       0  count          %
Customer ID                        False      0   0.000000
Gender                             False      0   0.000000
Age                                False      0   0.000000
Married                            False      0   0.000000
Number of Dependents               False      0   0.000000
City                               False      0   0.000000
Zip Code                           False      0   0.000000
Latitude                           False      0   0.000000
Longitude                          False      0   0.000000
Number of Referrals                False      0   0.000000
Tenure in Months                   False      0   0.000000
Offer                              False      0   0.000000
Phone Service                      False      0   0.000000
Avg Monthly Long Distance Charges   True    682   9.683374
Multiple Lines                      True    682   9.683374
Internet Service                   False      0   0.000000
Internet Type                       True   1526  21.666903
Avg Monthly GB Download             True   1526  21.666903
Online Security                     True   1526  21.666903
Online Backup                       True   1526  21.666903
Device Protection Plan              True   1526  21.666903
Premium Tech Support                True   1526  21.666903
Streaming TV                        True   1526  21.666903
Streaming Movies                    True   1526  21.666903
Streaming Music                     True   1526  21.666903
Unlimited Data                      True   1526  21.666903
Contract                           False      0   0.000000
Paperless Billing                  False      0   0.000000
Payment Method                     False      0   0.000000
Monthly Charge                     False      0   0.000000
Total Charges                      False      0   0.000000
Total Refunds                      False      0   0.000000
Total Extra Data Charges           False      0   0.000000
Total Long Distance Charges        False      0   0.000000
Total Revenue                      False      0   0.000000
Customer Status                    False      0   0.000000
Churn Category                      True   5174  73.463013
Churn Reason                        True   5174  73.463013

In [6]:
df1 = churndata[["Phone Service","Avg Monthly Long Distance Charges","Multiple Lines"]]
df1[df1['Avg Monthly Long Distance Charges'].isnull()]

     Phone Service  Avg Monthly Long Distance Charges Multiple Lines
10              No                                NaN            NaN
14              No                                NaN            NaN
16              No                                NaN            NaN
19              No                                NaN            NaN
25              No                                NaN            NaN
...            ...                                ...            ...
6979            No                                NaN            NaN
6980            No                                NaN            NaN
6996            No                                NaN            NaN
7016            No                                NaN            NaN
7042            No                                NaN            NaN

[682 rows x 3 columns]

From the dataframe slice above, we see that for those who don't have Home Phone service, the Average monthly long distance charges and Multiple lines shows NaN value. We will replace the NaN of "Avg Monthly Long Distance Charges" with 0 and "Multiple Lines" with " No" for those observations who didn't subscribe for Home Phone service.

In [7]:
churndata["Avg Monthly Long Distance Charges"].fillna(0, inplace=True)
churndata["Multiple Lines"].fillna("No", inplace=True)

In [8]:
df2 = churndata[["Internet Type", "Avg Monthly GB Download", "Online Security", "Online Backup",
                 "Device Protection Plan", "Premium Tech Support", "Streaming TV", "Streaming Movies", "Streaming Music", "Unlimited Data"]]
df2[df2.isna().any(axis=1)].head()

,Internet Type,Avg Monthly GB Download,Online Security,Online Backup,Device Protection Plan,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Again, from the dataframe we see that the variables: "Internet Type", "Avg Monthly GB Download", "Online Security", "Online Backup", "Device Protection Plan", "Premium Tech Support", "Streaming TV", "Streaming Movies", "Streaming Music", "Unlimited Data" - these columns contain NaN for those observations/ customers who don't have Internet Services. So, we replace the NaN values with corresponding values to the columns mentiones above.

In [9]:
churndata["Internet Type"].fillna("None", inplace=True)
churndata["Avg Monthly GB Download"].fillna("0", inplace=True)
churndata["Online Security"].fillna("No", inplace=True)
churndata["Online Backup"].fillna("No", inplace=True)
churndata["Device Protection Plan"].fillna("No", inplace=True)
churndata["Premium Tech Support"].fillna("No", inplace=True)
churndata["Streaming TV"].fillna("No", inplace=True)
churndata["Streaming Movies"].fillna("No", inplace=True)
churndata["Streaming Music"].fillna("No", inplace=True)
churndata["Unlimited Data"].fillna("No", inplace=True)

In [10]:
churndata["Avg Monthly GB Download"] = churndata["Avg Monthly GB Download"].astype(float)

In [11]:
churndata.isna().sum()

Customer ID                             0
Gender                                  0
Age                                     0
Married                                 0
Number of Dependents                    0
City                                    0
Zip Code                                0
Latitude                                0
Longitude                               0
Number of Referrals                     0
Tenure in Months                        0
Offer                                   0
Phone Service                           0
Avg Monthly Long Distance Charges       0
Multiple Lines                          0
Internet Service                        0
Internet Type                           0
Avg Monthly GB Download                 0
Online Security                         0
Online Backup                           0
Device Protection Plan                  0
Premium Tech Support                    0
Streaming TV                            0
Streaming Movies                        0
Streaming Music                         0
Unlimited Data                          0
Contract                                0
Paperless Billing                       0
Payment Method                          0
Monthly Charge                          0
Total Charges                           0
Total Refunds                           0
Total Extra Data Charges                0
Total Long Distance Charges             0
Total Revenue                           0
Customer Status                         0
Churn Category                       5174
Churn Reason                         5174
dtype: int64

In [12]:
churndata.head()

,Customer ID,Gender,Age,Married,Number of Dependents,City,Zip Code,Latitude,Longitude,Number of Referrals,...,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status,Churn Category,Churn Reason
0,0002-ORFBO,Female,37,Yes,0,Frazier Park,93225,34.827662,-118.999073,2,...,Credit Card,65.6,593.30,0.00,0,381.51,974.81,Stayed,NaN,NaN
1,0003-MKNFE,Male,46,No,0,Glendale,91206,34.162515,-118.203869,0,...,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,Stayed,NaN,NaN
2,0004-TLHLJ,Male,50,No,0,Costa Mesa,92627,33.645672,-117.922613,0,...,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,Churned,Competitor,Competitor had better devices
3,0011-IGKFF,Male,78,Yes,0,Martinez,94553,38.014457,-122.115432,1,...,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,Churned,Dissatisfaction,Product dissatisfaction
4,0013-EXCHZ,Female,75,Yes,0,Camarillo,93010,34.227846,-119.079903,3,...,Credit Card,83.9,267.40,0.00,0,22.14,289.54,Churned,Dissatisfaction,Network reliability

In [13]:
churndata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 38 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Customer ID                        7043 non-null   object
 1   Gender                             7043 non-null   object
 2   Age                                7043 non-null   int64
 3   Married                            7043 non-null   object
 4   Number of Dependents               7043 non-null   int64
 5   City                               7043 non-null   object
 6   Zip Code                           7043 non-null   int64
 7   Latitude                           7043 non-null   float64
 8   Longitude                          7043 non-null   float64
 9   Number of Referrals                7043 non-null   int64
 10  Tenure in Months                   7043 non-null   int64
 11  Offer                              7043 non-null   object
 12  Phone Service                      7043 non-null   object
 13  Avg Monthly Long Distance Charges  7043 non-null   float64
 14  Multiple Lines                     7043 non-null   object
 15  Internet Service                   7043 non-null   object
 16  Internet Type                      7043 non-null   object
 17  Avg Monthly GB Download            7043 non-null   float64
 18  Online Security                    7043 non-null   object
 19  Online Backup                      7043 non-null   object
 20  Device Protection Plan             7043 non-null   object
 21  Premium Tech Support               7043 non-null   object
 22  Streaming TV                       7043 non-null   object
 23  Streaming Movies                   7043 non-null   object
 24  Streaming Music                    7043 non-null   object
 25  Unlimited Data                     7043 non-null   object
 26  Contract                           7043 non-null   object
 27  Paperless Billing                  7043 non-null   object
 28  Payment Method                     7043 non-null   object
 29  Monthly Charge                     7043 non-null   float64
 30  Total Charges                      7043 non-null   float64
 31  Total Refunds                      7043 non-null   float64
 32  Total Extra Data Charges           7043 non-null   int64
 33  Total Long Distance Charges        7043 non-null   float64
 34  Total Revenue                      7043 non-null   float64
 35  Customer Status                    7043 non-null   object
 36  Churn Category                     1869 non-null   object
 37  Churn Reason                       1869 non-null   object
dtypes: float64(9), int64(6), object(23)
memory usage: 2.0+ MB

#### 3.2 Encoding Dummy variables:

In [14]:
df = churndata

In [15]:
# deleting the unnecessary columns:
df.drop(["Customer ID","Zip Code","Latitude","Longitude","Churn Category","Churn Reason"],axis=1,inplace=True)

In [16]:
df.head()

,Gender,Age,Married,Number of Dependents,City,Number of Referrals,Tenure in Months,Offer,Phone Service,Avg Monthly Long Distance Charges,...,Contract,Paperless Billing,Payment Method,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Customer Status
0,Female,37,Yes,0,Frazier Park,2,9,None,Yes,42.39,...,One Year,Yes,Credit Card,65.6,593.30,0.00,0,381.51,974.81,Stayed
1,Male,46,No,0,Glendale,0,9,None,Yes,10.69,...,Month-to-Month,No,Credit Card,-4.0,542.40,38.33,10,96.21,610.28,Stayed
2,Male,50,No,0,Costa Mesa,0,4,Offer E,Yes,33.65,...,Month-to-Month,Yes,Bank Withdrawal,73.9,280.85,0.00,0,134.60,415.45,Churned
3,Male,78,Yes,0,Martinez,1,13,Offer D,Yes,27.82,...,Month-to-Month,Yes,Bank Withdrawal,98.0,1237.85,0.00,0,361.66,1599.51,Churned
4,Female,75,Yes,0,Camarillo,3,3,None,Yes,7.38,...,Month-to-Month,Yes,Credit Card,83.9,267.40,0.00,0,22.14,289.54,Churned

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 32 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Gender                             7043 non-null   object
 1   Age                                7043 non-null   int64
 2   Married                            7043 non-null   object
 3   Number of Dependents               7043 non-null   int64
 4   City                               7043 non-null   object
 5   Number of Referrals                7043 non-null   int64
 6   Tenure in Months                   7043 non-null   int64
 7   Offer                              7043 non-null   object
 8   Phone Service                      7043 non-null   object
 9   Avg Monthly Long Distance Charges  7043 non-null   float64
 10  Multiple Lines                     7043 non-null   object
 11  Internet Service                   7043 non-null   object
 12  Internet Type                      7043 non-null   object
 13  Avg Monthly GB Download            7043 non-null   float64
 14  Online Security                    7043 non-null   object
 15  Online Backup                      7043 non-null   object
 16  Device Protection Plan             7043 non-null   object
 17  Premium Tech Support               7043 non-null   object
 18  Streaming TV                       7043 non-null   object
 19  Streaming Movies                   7043 non-null   object
 20  Streaming Music                    7043 non-null   object
 21  Unlimited Data                     7043 non-null   object
 22  Contract                           7043 non-null   object
 23  Paperless Billing                  7043 non-null   object
 24  Payment Method                     7043 non-null   object
 25  Monthly Charge                     7043 non-null   float64
 26  Total Charges                      7043 non-null   float64
 27  Total Refunds                      7043 non-null   float64
 28  Total Extra Data Charges           7043 non-null   int64
 29  Total Long Distance Charges        7043 non-null   float64
 30  Total Revenue                      7043 non-null   float64
 31  Customer Status                    7043 non-null   object
dtypes: float64(7), int64(5), object(20)
memory usage: 1.7+ MB

In [18]:
df1 = pd.get_dummies(df)

In [19]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Columns: 1165 entries, Age to Customer Status_Stayed
dtypes: float64(7), int64(5), uint8(1153)
memory usage: 8.4 MB

In [20]:
df1.head()

,Age,Number of Dependents,Number of Referrals,Tenure in Months,Avg Monthly Long Distance Charges,Avg Monthly GB Download,Monthly Charge,Total Charges,Total Refunds,Total Extra Data Charges,...,Contract_One Year,Contract_Two Year,Paperless Billing_No,Paperless Billing_Yes,Payment Method_Bank Withdrawal,Payment Method_Credit Card,Payment Method_Mailed Check,Customer Status_Churned,Customer Status_Joined,Customer Status_Stayed
0,37,0,2,9,42.39,16.0,65.6,593.30,0.00,0,...,1,0,0,1,0,1,0,0,0,1
1,46,0,0,9,10.69,10.0,-4.0,542.40,38.33,10,...,0,0,1,0,0,1,0,0,0,1
2,50,0,0,4,33.65,30.0,73.9,280.85,0.00,0,...,0,0,0,1,1,0,0,1,0,0
3,78,0,1,13,27.82,4.0,98.0,1237.85,0.00,0,...,0,0,0,1,1,0,0,1,0,0
4,75,0,3,3,7.38,11.0,83.9,267.40,0.00,0,...,0,0,0,1,0,1,0,1,0,0

In [21]:
print(df1.columns.tolist())

['Age', 'Number of Dependents', 'Number of Referrals', 'Tenure in Months', 'Avg Monthly Long Distance Charges', 'Avg Monthly GB Download', 'Monthly Charge', 'Total Charges', 'Total Refunds', 'Total Extra Data Charges', 'Total Long Distance Charges', 'Total Revenue', 'Gender_Female', 'Gender_Male', 'Married_No', 'Married_Yes', 'City_Acampo', 'City_Acton', 'City_Adelanto', 'City_Adin', 'City_Agoura Hills', 'City_Aguanga', 'City_Ahwahnee', 'City_Alameda', 'City_Alamo', 'City_Albany', 'City_Albion', 'City_Alderpoint', 'City_Alhambra', 'City_Aliso Viejo', 'City_Alleghany', 'City_Alpaugh', 'City_Alpine', 'City_Alta', 'City_Altadena', 'City_Alturas', 'City_Alviso', 'City_Amador City', 'City_Amboy', 'City_Anaheim', 'City_Anderson', 'City_Angels Camp', 'City_Angelus Oaks', 'City_Angwin', 'City_Annapolis', 'City_Antelope', 'City_Antioch', 'City_Anza', 'City_Apple Valley', 'City_Applegate', 'City_Aptos', 'City_Arbuckle', 'City_Arcadia', 'City_Arcata', 'City_Armona', 'City_Arnold', 'City_Aromas', 'City_Arroyo Grande', 'City_Artesia', 'City_Arvin', 'City_Atascadero', 'City_Atherton', 'City_Atwater', 'City_Auberry', 'City_Auburn', 'City_Avalon', 'City_Avenal', 'City_Avery', 'City_Avila Beach', 'City_Azusa', 'City_Badger', 'City_Baker', 'City_Bakersfield', 'City_Baldwin Park', 'City_Ballico', 'City_Bangor', 'City_Banning', 'City_Barstow', 'City_Bass Lake', 'City_Bayside', 'City_Beale Afb', 'City_Beaumont', 'City_Bell', 'City_Bella Vista', 'City_Bellflower', 'City_Belmont', 'City_Belvedere Tiburon', 'City_Ben Lomond', 'City_Benicia', 'City_Benton', 'City_Berkeley', 'City_Berry Creek', 'City_Bethel Island', 'City_Beverly Hills', 'City_Bieber', 'City_Big Bar', 'City_Big Bear City', 'City_Big Bear Lake', 'City_Big Bend', 'City_Big Creek', 'City_Big Oak Flat', 'City_Big Pine', 'City_Biggs', 'City_Biola', 'City_Birds Landing', 'City_Bishop', 'City_Blairsden Graeagle', 'City_Blocksburg', 'City_Bloomington', 'City_Blue Lake', 'City_Blythe', 'City_Bodega', 'City_Bodega Bay', 'City_Bodfish', 'City_Bolinas', 'City_Bonita', 'City_Bonsall', 'City_Boonville', 'City_Boron', 'City_Borrego Springs', 'City_Boulder Creek', 'City_Boulevard', 'City_Bradley', 'City_Branscomb', 'City_Brawley', 'City_Brea', 'City_Brentwood', 'City_Bridgeport', 'City_Bridgeville', 'City_Brisbane', 'City_Brookdale', 'City_Brooks', 'City_Browns Valley', 'City_Brownsville', 'City_Buellton', 'City_Buena Park', 'City_Burbank', 'City_Burlingame', 'City_Burney', 'City_Burnt Ranch', 'City_Burson', 'City_Butte City', 'City_Buttonwillow', 'City_Byron', 'City_Cabazon', 'City_Calabasas', 'City_Calexico', 'City_Caliente', 'City_California City', 'City_California Hot Springs', 'City_Calimesa', 'City_Calipatria', 'City_Calistoga', 'City_Callahan', 'City_Calpine', 'City_Camarillo', 'City_Cambria', 'City_Camino', 'City_Camp Nelson', 'City_Campbell', 'City_Campo', 'City_Campo Seco', 'City_Camptonville', 'City_Canby', 'City_Canoga Park', 'City_Cantua Creek', 'City_Canyon Country', 'City_Canyon Dam', 'City_Capay', 'City_Capistrano Beach', 'City_Capitola', 'City_Cardiff By The Sea', 'City_Carlotta', 'City_Carlsbad', 'City_Carmel', 'City_Carmel By The Sea', 'City_Carmel Valley', 'City_Carmichael', 'City_Carnelian Bay', 'City_Carpinteria', 'City_Carson', 'City_Caruthers', 'City_Casmalia', 'City_Caspar', 'City_Cassel', 'City_Castaic', 'City_Castella', 'City_Castro Valley', 'City_Castroville', 'City_Cathedral City', 'City_Catheys Valley', 'City_Cayucos', 'City_Cazadero', 'City_Cedar Glen', 'City_Cedarville', 'City_Ceres', 'City_Cerritos', 'City_Challenge', 'City_Chatsworth', 'City_Chester', 'City_Chico', 'City_Chilcoot', 'City_Chino', 'City_Chino Hills', 'City_Chowchilla', 'City_Chualar', 'City_Chula Vista', 'City_Citrus Heights', 'City_Claremont', 'City_Clarksburg', 'City_Clayton', 'City_Clearlake', 'City_Clearlake Oaks', 'City_Clements', 'City_Clio', 'City_Clipper Mills', 'City_Cloverdale', 'City_Clovis', 'City_Coachella', 'City_Coalinga', 'City_Coarsegold', 'City_Cobb', 'City_Coleville', 'City_Colfax', 'City_Colton', 'City_Columbia', 'City_Colusa', 'City_Comptche', 'City_Compton', 'City_Concord', 'City_Cool', 'City_Copperopolis', 'City_Corcoran', 'City_Corning', 'City_Corona', 'City_Corona Del Mar', 'City_Coronado', 'City_Corte Madera', 'City_Costa Mesa', 'City_Cotati', 'City_Cottonwood', 'City_Coulterville', 'City_Courtland', 'City_Covelo', 'City_Covina', 'City_Crescent Mills', 'City_Cressey', 'City_Crestline', 'City_Creston', 'City_Crockett', 'City_Crows Landing', 'City_Culver City', 'City_Cupertino', 'City_Cutler', 'City_Cypress', 'City_Daggett', 'City_Daly City', 'City_Dana Point', 'City_Danville', 'City_Darwin', 'City_Davenport', 'City_Davis', 'City_Davis Creek', 'City_Death Valley', 'City_Deer Park', 'City_Del Mar', 'City_Del Rey', 'City_Delano', 'City_Delhi', 'City_Denair', 'City_Descanso', 'City_Desert Center', 'City_Desert Hot Springs', 'City_Diamond Bar', 'City_Diamond Springs', 'City_Dillon Beach', 'City_Dinuba', 'City_Dixon', 'City_Dobbins', 'City_Dorris', 'City_Dos Palos', 'City_Dos Rios', 'City_Douglas City', 'City_Downey', 'City_Downieville', 'City_Doyle', 'City_Duarte', 'City_Dublin', 'City_Ducor', 'City_Dulzura', 'City_Duncans Mills', 'City_Dunlap', 'City_Dunnigan', 'City_Dunsmuir', 'City_Durham', 'City_Dutch Flat', 'City_Eagleville', 'City_Earlimart', 'City_Earp', 'City_Echo Lake', 'City_Edwards', 'City_El Cajon', 'City_El Centro', 'City_El Cerrito', 'City_El Dorado', 'City_El Dorado Hills', 'City_El Monte', 'City_El Nido', 'City_El Portal', 'City_El Segundo', 'City_El Sobrante', 'City_Eldridge', 'City_Elk', 'City_Elk Creek', 'City_Elk Grove', 'City_Elmira', 'City_Elverta', 'City_Emeryville', 'City_Emigrant Gap', 'City_Encinitas', 'City_Encino', 'City_Escalon', 'City_Escondido', 'City_Esparto', 'City_Essex', 'City_Etna', 'City_Eureka', 'City_Exeter', 'City_Fair Oaks', 'City_Fairfax', 'City_Fairfield', 'City_Fall River Mills', 'City_Fallbrook', 'City_Farmersville', 'City_Farmington', 'City_Fawnskin', 'City_Fellows', 'City_Felton', 'City_Ferndale', 'City_Fiddletown', 'City_Fields Landing', 'City_Fillmore', 'City_Firebaugh', 'City_Fish Camp', 'City_Five Points', 'City_Flournoy', 'City_Folsom', 'City_Fontana', 'City_Foothill Ranch', 'City_Forbestown', 'City_Forest Falls', 'City_Forest Knolls', 'City_Forest Ranch', 'City_Foresthill', 'City_Forestville', 'City_Forks Of Salmon', 'City_Fort Bidwell', 'City_Fort Bragg', 'City_Fort Irwin', 'City_Fortuna', 'City_Fountain Valley', 'City_Fowler', 'City_Frazier Park', 'City_Freedom', 'City_Fremont', 'City_French Camp', 'City_French Gulch', 'City_Fresno', 'City_Friant', 'City_Fullerton', 'City_Fulton', 'City_Galt', 'City_Garberville', 'City_Garden Grove', 'City_Garden Valley', 'City_Gardena', 'City_Gasquet', 'City_Gazelle', 'City_Georgetown', 'City_Gerber', 'City_Geyserville', 'City_Gilroy', 'City_Glen Ellen', 'City_Glencoe', 'City_Glendale', 'City_Glendora', 'City_Glenhaven', 'City_Glenn', 'City_Glennville', 'City_Gold Run', 'City_Goleta', 'City_Gonzales', 'City_Goodyears Bar', 'City_Granada Hills', 'City_Grand Terrace', 'City_Granite Bay', 'City_Grass Valley', 'City_Graton', 'City_Green Valley Lake', 'City_Greenbrae', 'City_Greenfield', 'City_Greenview', 'City_Greenville', 'City_Greenwood', 'City_Grenada', 'City_Gridley', 'City_Grimes', 'City_Grizzly Flats', 'City_Groveland', 'City_Grover Beach', 'City_Guadalupe', 'City_Gualala', 'City_Guatay', 'City_Guerneville', 'City_Guinda', 'City_Gustine', 'City_Hacienda Heights', 'City_Half Moon Bay', 'City_Hamilton City', 'City_Hanford', 'City_Happy Camp', 'City_Harbor City', 'City_Hat Creek', 'City_Hathaway Pines', 'City_Hawaiian Gardens', 'City_Hawthorne', 'City_Hayward', 'City_Healdsburg', 'City_Heber', 'City_Helendale', 'City_Helm', 'City_Hemet', 'City_Herald', 'City_Hercules', 'City_Herlong', 'City_Hermosa Beach', 'City_Hesperia', 'City_Hickman', 'City_Highland', 'City_Hilmar', 'City_Hinkley', 'City_Holtville', 'City_Homeland', 'City_Homewood', 'City_Honeydew', 'City_Hood', 'City_Hoopa', 'City_Hopland', 'City_Hornbrook', 'City_Hornitos', 'City_Hughson', 'City_Hume', 'City_Huntington Beach', 'City_Huntington Park', 'City_Huron', 'City_Hyampom', 'City_Hydesville', 'City_Idyllwild', 'City_Igo', 'City_Imperial', 'City_Imperial Beach', 'City_Independence', 'City_Indian Wells', 'City_Indio', 'City_Inglewood', 'City_Inverness', 'City_Ione', 'City_Irvine', 'City_Isleton', 'City_Ivanhoe', 'City_Jackson', 'City_Jacumba', 'City_Jamestown', 'City_Jamul', 'City_Janesville', 'City_Jenner', 'City_Johannesburg', 'City_Jolon', 'City_Joshua Tree', 'City_Julian', 'City_Junction City', 'City_June Lake', 'City_Keeler', 'City_Keene', 'City_Kelseyville', 'City_Kenwood', 'City_Kerman', 'City_Kernville', 'City_Kettleman City', 'City_Keyes', 'City_King City', 'City_Kings Beach', 'City_Kingsburg', 'City_Kirkwood', 'City_Klamath', 'City_Klamath River', 'City_Kneeland', 'City_Knights Landing', 'City_Korbel', 'City_Kyburz', 'City_La Canada Flintridge', 'City_La Crescenta', 'City_La Grange', 'City_La Habra', 'City_La Honda', 'City_La Jolla', 'City_La Mesa', 'City_La Mirada', 'City_La Palma', 'City_La Puente', 'City_La Quinta', 'City_La Verne', 'City_Ladera Ranch', 'City_Lafayette', 'City_Laguna Beach', 'City_Laguna Hills', 'City_Laguna Niguel', 'City_Lagunitas', 'City_Lake Arrowhead', 'City_Lake Elsinore', 'City_Lake Forest', 'City_Lake Hughes', 'City_Lake Isabella', 'City_Lakehead', 'City_Lakeport', 'City_Lakeshore', 'City_Lakeside', 'City_Lakewood', 'City_Lamont', 'City_Lancaster', 'City_Landers', 'City_Larkspur', 'City_Lathrop', 'City_Laton', 'City_Lawndale', 'City_Laytonville', 'City_Le Grand', 'City_Lebec', 'City_Lee Vining', 'City_Leggett', 'City_Lemon Cove', 'City_Lemon Grove', 'City_Lemoore', 'City_Lewiston', 'City_Likely', 'City_Lincoln', 'City_Linden', 'City_Lindsay', 'City_Litchfield', 'City_Little River', 'City_Littlerock', 'City_Live Oak', 'City_Livermore', 'City_Livingston', 'City_Llano', 'City_Lockeford', 'City_Lockwood', 'City_Lodi', 'City_Loleta', 'City_Loma Linda', 'City_Loma Mar', 'City_Lomita', 'City_Lompoc', 'City_Long Barn', 'City_Long Beach', 'City_Lookout', 'City_Loomis', 'City_Los Alamitos', 'City_Los Alamos', 'City_Los Altos', 'City_Los Angeles', 'City_Los Banos', 'City_Los Gatos', 'City_Los Molinos', 'City_Los Olivos', 'City_Los Osos', 'City_Lost Hills', 'City_Lotus', 'City_Lower Lake', 'City_Loyalton', 'City_Lucerne', 'City_Lucerne Valley', 'City_Ludlow', 'City_Lynwood', 'City_Lytle Creek', 'City_Macdoel', 'City_Mad River', 'City_Madeline', 'City_Madera', 'City_Madison', 'City_Magalia', 'City_Malibu', 'City_Mammoth Lakes', 'City_Manchester', 'City_Manhattan Beach', 'City_Manteca', 'City_Manton', 'City_March Air Reserve Base', 'City_Marina', 'City_Marina Del Rey', 'City_Mariposa', 'City_Markleeville', 'City_Marshall', 'City_Martinez', 'City_Marysville', 'City_Mather', 'City_Maxwell', 'City_Maywood', 'City_Mc Farland', 'City_Mc Kittrick', 'City_Mcarthur', 'City_Mccloud', 'City_Mckinleyville', 'City_Meadow Valley', 'City_Meadow Vista', 'City_Mecca', 'City_Mendocino', 'City_Menifee', 'City_Menlo Park', 'City_Mentone', 'City_Merced', 'City_Meridian', 'City_Mi Wuk Village', 'City_Middletown', 'City_Midpines', 'City_Midway City', 'City_Milford', 'City_Mill Creek', 'City_Mill Valley', 'City_Millbrae', 'City_Millville', 'City_Milpitas', 'City_Mineral', 'City_Mira Loma', 'City_Miramonte', 'City_Miranda', 'City_Mission Hills', 'City_Mission Viejo', 'City_Modesto', 'City_Mojave', 'City_Mokelumne Hill', 'City_Monrovia', 'City_Montara', 'City_Montclair', 'City_Monte Rio', 'City_Montebello', 'City_Monterey', 'City_Monterey Park', 'City_Montgomery Creek', 'City_Montrose', 'City_Moorpark', 'City_Moraga', 'City_Moreno Valley', 'City_Morgan Hill', 'City_Morongo Valley', 'City_Morro Bay', 'City_Moss Beach', 'City_Moss Landing', 'City_Mount Hamilton', 'City_Mount Hermon', 'City_Mount Laguna', 'City_Mount Shasta', 'City_Mountain Center', 'City_Mountain Ranch', 'City_Mountain View', 'City_Mt Baldy', 'City_Murphys', 'City_Murrieta', 'City_Myers Flat', 'City_Napa', 'City_National City', 'City_Navarro', 'City_Needles', 'City_Nevada City', 'City_New Cuyama', 'City_Newark', 'City_Newbury Park', 'City_Newcastle', 'City_Newhall', 'City_Newman', 'City_Newport Beach', 'City_Newport Coast', 'City_Nicasio', 'City_Nice', 'City_Nicolaus', 'City_Niland', 'City_Nipomo', 'City_Nipton', 'City_Norco', 'City_North Fork', 'City_North Highlands', 'City_North Hills', 'City_North Hollywood', 'City_North Palm Springs', 'City_North San Juan', 'City_Northridge', 'City_Norwalk', 'City_Novato', 'City_Nubieber', 'City_Nuevo', 'City_O Neals', 'City_Oak Park', 'City_Oak Run', 'City_Oak View', 'City_Oakdale', 'City_Oakhurst', 'City_Oakland', 'City_Oakley', 'City_Occidental', 'City_Oceano', 'City_Oceanside', 'City_Ocotillo', 'City_Ojai', 'City_Olancha', 'City_Old Station', 'City_Olema', 'City_Olivehurst', 'City_Olympic Valley', 'City_Ontario', 'City_Orange', 'City_Orange Cove', 'City_Orangevale', 'City_Oregon House', 'City_Orick', 'City_Orinda', 'City_Orland', 'City_Orleans', 'City_Oro Grande', 'City_Orosi', 'City_Oroville', 'City_Oxnard', 'City_Pacific Grove', 'City_Pacific Palisades', 'City_Pacifica', 'City_Pacoima', 'City_Paicines', 'City_Pala', 'City_Palermo', 'City_Palm Desert', 'City_Palm Springs', 'City_Palmdale', 'City_Palo Alto', 'City_Palo Cedro', 'City_Palo Verde', 'City_Palomar Mountain', 'City_Palos Verdes Peninsula', 'City_Paradise', 'City_Paramount', 'City_Parker Dam', 'City_Parlier', 'City_Pasadena', 'City_Paskenta', 'City_Paso Robles', 'City_Patterson', 'City_Pauma Valley', 'City_Paynes Creek', 'City_Pearblossom', 'City_Pebble Beach', 'City_Penn Valley', 'City_Penngrove', 'City_Penryn', 'City_Perris', 'City_Pescadero', 'City_Petaluma', 'City_Petrolia', 'City_Phelan', 'City_Phillipsville', 'City_Philo', 'City_Pico Rivera', 'City_Piercy', 'City_Pilot Hill', 'City_Pine Grove', 'City_Pine Valley', 'City_Pinecrest', 'City_Pinole', 'City_Pinon Hills', 'City_Pioneer', 'City_Pioneertown', 'City_Piru', 'City_Pismo Beach', 'City_Pittsburg', 'City_Pixley', 'City_Placentia', 'City_Placerville', 'City_Planada', 'City_Platina', 'City_Playa Del Rey', 'City_Pleasant Grove', 'City_Pleasant Hill', 'City_Pleasanton', 'City_Plymouth', 'City_Point Arena', 'City_Point Reyes Station', 'City_Pollock Pines', 'City_Pomona', 'City_Pope Valley', 'City_Port Costa', 'City_Port Hueneme', 'City_Porter Ranch', 'City_Porterville', 'City_Portola', 'City_Portola Valley', 'City_Posey', 'City_Potrero', 'City_Potter Valley', 'City_Poway', 'City_Prather', 'City_Princeton', 'City_Quincy', 'City_Raisin City', 'City_Ramona', 'City_Ranchita', 'City_Rancho Cordova', 'City_Rancho Cucamonga', 'City_Rancho Mirage', 'City_Rancho Palos Verdes', 'City_Rancho Santa Fe', 'City_Rancho Santa Margarita', 'City_Randsburg', 'City_Ravendale', 'City_Raymond', 'City_Red Bluff', 'City_Redcrest', 'City_Redding', 'City_Redlands', 'City_Redondo Beach', 'City_Redway', 'City_Redwood City', 'City_Redwood Valley', 'City_Reedley', 'City_Rescue', 'City_Reseda', 'City_Rialto', 'City_Richgrove', 'City_Richmond', 'City_Richvale', 'City_Rio Dell', 'City_Rio Linda', 'City_Rio Nido', 'City_Rio Oso', 'City_Rio Vista', 'City_Ripon', 'City_River Pines', 'City_Riverbank', 'City_Riverdale', 'City_Riverside', 'City_Rocklin', 'City_Rodeo', 'City_Rohnert Park', 'City_Rosamond', 'City_Rosemead', 'City_Roseville', 'City_Rough And Ready', 'City_Round Mountain', 'City_Rowland Heights', 'City_Running Springs', 'City_Sacramento', 'City_Saint Helena', 'City_Salida', 'City_Salinas', 'City_Salton City', 'City_Salyer', 'City_Samoa', 'City_San Andreas', 'City_San Anselmo', 'City_San Ardo', 'City_San Bernardino', 'City_San Bruno', 'City_San Carlos', 'City_San Clemente', 'City_San Diego', 'City_San Dimas', 'City_San Fernando', 'City_San Francisco', 'City_San Gabriel', 'City_San Geronimo', 'City_San Gregorio', 'City_San Jacinto', 'City_San Joaquin', 'City_San Jose', 'City_San Juan Bautista', 'City_San Juan Capistrano', 'City_San Leandro', 'City_San Lorenzo', 'City_San Lucas', 'City_San Luis Obispo', 'City_San Marcos', 'City_San Marino', 'City_San Martin', 'City_San Mateo', 'City_San Miguel', 'City_San Pablo', 'City_San Pedro', 'City_San Quentin', 'City_San Rafael', 'City_San Ramon', 'City_San Simeon', 'City_San Ysidro', 'City_Sanger', 'City_Santa Ana', 'City_Santa Barbara', 'City_Santa Clara', 'City_Santa Clarita', 'City_Santa Cruz', 'City_Santa Fe Springs', 'City_Santa Margarita', 'City_Santa Maria', 'City_Santa Monica', 'City_Santa Paula', 'City_Santa Rosa', 'City_Santa Ynez', 'City_Santa Ysabel', 'City_Santee', 'City_Saratoga', 'City_Sausalito', 'City_Scotia', 'City_Scott Bar', 'City_Scotts Valley', 'City_Seal Beach', 'City_Seaside', 'City_Sebastopol', 'City_Seeley', 'City_Seiad Valley', 'City_Selma', 'City_Sequoia National Park', 'City_Shafter', 'City_Shandon', 'City_Shasta', 'City_Shasta Lake', 'City_Shaver Lake', 'City_Sheep Ranch', 'City_Sheridan', 'City_Sherman Oaks', 'City_Shingle Springs', 'City_Shingletown', 'City_Shoshone', 'City_Sierra City', 'City_Sierra Madre', 'City_Sierraville', 'City_Silverado', 'City_Simi Valley', 'City_Sloughhouse', 'City_Smartville', 'City_Smith River', 'City_Snelling', 'City_Soda Springs', 'City_Solana Beach', 'City_Soledad', 'City_Solvang', 'City_Somerset', 'City_Somes Bar', 'City_Somis', 'City_Sonoma', 'City_Sonora', 'City_Soquel', 'City_Soulsbyville', 'City_South Dos Palos', 'City_South El Monte', 'City_South Gate', 'City_South Lake Tahoe', 'City_South Pasadena', 'City_South San Francisco', 'City_Spreckels', 'City_Spring Valley', 'City_Springville', 'City_Squaw Valley', 'City_Standish', 'City_Stanford', 'City_Stanton', 'City_Stevenson Ranch', 'City_Stevinson', 'City_Stinson Beach', 'City_Stirling City', 'City_Stockton', 'City_Stonyford', 'City_Stratford', 'City_Strathmore', 'City_Strawberry Valley', 'City_Studio City', 'City_Sugarloaf', 'City_Suisun City', 'City_Sultana', 'City_Summerland', 'City_Sun City', 'City_Sun Valley', 'City_Sunland', 'City_Sunnyvale', 'City_Sunol', 'City_Sunset Beach', 'City_Surfside', 'City_Susanville', 'City_Sutter', 'City_Sutter Creek', 'City_Sylmar', 'City_Taft', 'City_Tahoe City', 'City_Tahoe Vista', 'City_Tahoma', 'City_Tarzana', 'City_Taylorsville', 'City_Tecate', 'City_Tehachapi', 'City_Tehama', 'City_Temecula', 'City_Temple City', 'City_Templeton', 'City_Termo', 'City_Terra Bella', 'City_The Sea Ranch', 'City_Thermal', 'City_Thornton', 'City_Thousand Oaks', 'City_Thousand Palms', 'City_Three Rivers', 'City_Tollhouse', 'City_Tomales', 'City_Topanga', 'City_Topaz', 'City_Torrance', 'City_Trabuco Canyon', 'City_Tracy', 'City_Tranquillity', 'City_Traver', 'City_Travis Afb', 'City_Trinidad', 'City_Trinity Center', 'City_Tujunga', 'City_Tulare', 'City_Tulelake', 'City_Tuolumne', 'City_Tupman', 'City_Turlock', 'City_Tustin', 'City_Twain', 'City_Twain Harte', 'City_Twentynine Palms', 'City_Twin Bridges', 'City_Ukiah', 'City_Union City', 'City_Upland', 'City_Upper Lake', 'City_Vacaville', 'City_Valencia', 'City_Vallecito', 'City_Vallejo', 'City_Valley Center', 'City_Valley Ford', 'City_Valley Springs', 'City_Valley Village', 'City_Valyermo', 'City_Van Nuys', 'City_Venice', 'City_Ventura', 'City_Vernalis', 'City_Victorville', 'City_Villa Park', 'City_Vina', 'City_Visalia', 'City_Vista', 'City_Volcano', 'City_Wallace', 'City_Walnut', 'City_Walnut Creek', 'City_Walnut Grove', 'City_Warner Springs', 'City_Wasco', 'City_Washington', 'City_Waterford', 'City_Watsonville', 'City_Weaverville', 'City_Weed', 'City_Weimar', 'City_Weldon', 'City_Wendel', 'City_Weott', 'City_West Covina', 'City_West Hills', 'City_West Hollywood', 'City_West Point', 'City_West Sacramento', 'City_Westlake Village', 'City_Westminster', 'City_Westmorland', 'City_Westport', 'City_Westwood', 'City_Wheatland', 'City_White Water', 'City_Whitmore', 'City_Whittier', 'City_Wildomar', 'City_Williams', 'City_Willits', 'City_Willow Creek', 'City_Willows', 'City_Wilmington', 'City_Wilseyville', 'City_Wilton', 'City_Winchester', 'City_Windsor', 'City_Winnetka', 'City_Winterhaven', 'City_Winters', 'City_Winton

### 4. Train and test Split Data:

In [22]:
len(df1) * .8, len(df1) * .2

(5634.400000000001, 1408.6000000000001)

In [23]:
y = df1['Customer Status_Churned']
X = df1.drop(["Customer Status_Churned","Customer Status_Joined","Customer Status_Stayed"], axis=1)

In [24]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Columns: 1162 entries, Age to Payment Method_Mailed Check
dtypes: float64(7), int64(5), uint8(1150)
memory usage: 8.4 MB

In [25]:
from imblearn.over_sampling import SMOTEN
sampler = SMOTEN(random_state=0)
Xsm,ysm = sampler.fit_resample(X, y)